<div class="overflow-hidden text-white text-center bg-[url('/assets/quests/interior7.png')] h-screen bg-cover bg-center bg-no-repeat">
    <div class="flex items-center justify-center h-screen p-[13em]">
    <img src="/assets/gameMaster/old-parchment.png" class=""/>
        <div class="absolute">
            <p class="text-2xl text-black font-bold mb-2">ENIGMAS AVALAIBLE</p>
            <table class="mb-[5em] text-black min-w-full">
                <thead class="font-semibold">
                    <tr>
                        <th scope="col" class="px-4 py-2">Question</th>
                        <th scope="col" class="px-4 py-2">Exp</th>
                        <th scope="col" class="px-4 py-2">Good Answer</th>
                        <th scope="col" class="px-4 py-2">Response 1</th>
                        <th scope="col" class="px-4 py-2">Response 2</th>
                        <th scope="col" class="px-4 py-2">Response 3</th>
                        <th scope="col" class="px-4 py-2">Action</th>
                    </tr>
                </thead>
                <tbody class="font-medium border border-[#363062]">
                    <% @questions.each do |question| %>
                        <tr>
                            <td class="px-4 py-2 p-2 truncate max-w-[20em]"><%= question.question %></td>
                            <td class="px-4 py-2 truncate max-w-[22em]"><%= question.exp %></td>
                            <td class="px-4 py-2 truncate max-w-[22em]">response <%= question.choice %></td>
                            <% choices = @choice.where(id_question: question.id) %>
                            <% choices.each do |choice| %>
                                <td class="px-4 py-2 truncate max-w-[22em]"><%= choice.respons %></td>
                            <% end %> 
                            <td class="px-2">   
                                <button class="p-2 hover:text-[#508D69]">
                                    <%= link_to 'Open', question_path(question)%>
                                </button>
                                <button class="hover:text-red-500" >
                                    <%= link_to 'Delete', question_path(question), data: {confirm: "Really?", turbo_method: :delete} %>
                                </button>
                            </td>
                        <tr>
                    <% end %>   
                </tbody>
            </table>
            <div class="flex justify-center mt-2">
                <button class="hover:text-teal-600 text-black p-2 ps-3 pe-3">
                    <%= link_to 'new enigma', new_question_path %>
                </button>
            </div>
        </div>    
    </div>   
</div>