<div class="overflow-hidden text-white text-center bg-[url('/assets/quests/mountains5.png')] h-screen bg-cover bg-center bg-no-repeat">
    <div class="flex items-center justify-center h-screen">
        <img src="/assets/gameMaster/old-parchment.png" class="w-[65em]"/>
        <div class="absolute grid grid-rows-1 gap-8 place-content-center text-black">
            <div class="mb-2">
                <p id="questTitle" class="text-2xl font-bold"><%= @enigma.question %></p>
            </div>
            <div class="mb-2">
                <p id="questTitle" class="text-2xl font-bold">Exp : <%= @enigma.exp %></p>
            </div>
            <% choices = @choice.where(id_question: @enigma.id) %>
            <% choices.each do |choice| %>
                <div class="mb-2">
                    <p class="text-xl text-[#5C476F] font-bold"><%= choice.choice %> : <%= choice.respons %></p>
                </div>
            <% end %>
            <div class="mb-2 text-xl text-[#527853] font-bold">
                <p>Correct Response: <%= @enigma.choice %></p>
            </div>

            <div class="flex justify-center mt-2">
                <button class="hover:text-[#CD5C08] text-black p-2 ps-3 pe-3">
                    <%= link_to 'back', questions_path %>
                </button>
            </div>
        </div>
    </div>
</div>