<div class="text-white text-center">
    <div class="flex items-center justify-center h-screen">
        <div class="absolute grid grid-rows-1 gap-8 place-content-center text-black">
        <%= form_with(model: @quest, local: true) do |form| %>
          <% if @quest.errors.any? %>
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
              <strong class="font-bold">Oops!</strong>
              <span class="block sm:inline"> <%= pluralize(@quest.errors.count, 'error') %> prohibited this quest from being saved:</span>
              <ul>
                <% @quest.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
       
          <div class="grid grid-rows-1 gap-4 place-content-center">
            <div class="mb-4">
                <%= form.label :title, class: 'block text-black font-medium mb-2' %>
                <%= form.text_field :title, class: 'bg-transparent shadow appearance-none border rounded w-[20em] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
            </div>
            <div class="mb-4">
                <%= form.label :exp, class: 'block text-black font-medium mb-2' %>
                <%= form.number_field :exp, class: 'bg-transparent shadow appearance-none border rounded w-[20em] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
            </div>
            <div class="mb-4">
                <%= form.label :description, class: 'block text-blac font-medium mb-2' %>
                <%= form.text_area :description, class: 'bg-transparent shadow appearance-none border rounded w-[20em]  h-[6em] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
            </div>
            <div class="flex justify-center">
                <%= form.submit 'Save Quest', class: 'bg-[#CD5C08] hover:bg-[#7C54c6] text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline' %>
            </div>
          </div>
        <% end %>
    </div>
</div>
