<div class="text-white text-center">
    <div class="flex items-center justify-center h-screen">
        <div class="absolute grid grid-rows-1 gap-8 place-content-center text-black">
        <%= form_with(model: @quest, local: true) do |form| %>
          <% if @quest.errors.any? %>
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
              <strong class="font-bold">Oops!</strong>
              <span class="block sm:inline"> <%= pluralize(@quest.errors.count, 'error') %> prohibited this quest from being saved:</span>
              <ul>
                <% @quest.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
       
          <div class="grid grid-rows-1 gap-4 mt-10 place-content-center">
            <div>
                <%= form.label :name, class: 'block text-black font-medium mb-2' %>
                <%= form.text_field :name, class: 'bg-transparent shadow appearance-none border rounded w-[20em] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
            </div>
            <div>
                <%= form.label :exp, class: 'block text-black font-medium mb-2' %>
                <%= form.number_field :exp, class: 'bg-transparent shadow appearance-none border rounded w-[20em] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
            </div>
            <div>
              <%= form.label :description, class: 'block text-blac font-medium mb-2' %>
              <%= form.text_area :description, class: 'bg-transparent shadow appearance-none border rounded w-[20em]  h-[6em] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
            </div>
            <div class="w-25 grid gap-1 grid-rows-3">
              <%= form.collection_select :reward_1_id, Reward.all, :id, :name, prompt: 'Select Reward 1', class: 'bg-black shadow appearance-none border rounded w-25' %>
              <%= form.collection_select :reward_2_id, Reward.all, :id, :name, prompt: 'Select Reward 2' %>
              <%= form.collection_select :reward_3_id, Reward.all, :id, :name, prompt: 'Select Reward 3' %>
            </div>

            <div class="relative flex justify-center">
                <img src="/assets/home/button_home3.png" class="w-[200px] custom_link">
                <%= form.submit 'Save Quest', class: 'absolute top-[52px] text-white hover:text-[#E92306] custom_link' %>
            </div>
          </div>
        <% end %>
    </div>
</div>
