<div class="overflow-hidden text-white text-center bg-[url('/assets/quests/interior7.png')] h-screen bg-cover bg-center bg-no-repeat">
    <div class="absolute top-4 left-4 z-[1]">
        <%= link_to root_path do %>
            <%= image_tag("/assets/home/button_exit.png", class: "w-1/2") %>
        <% end %>
    </div>
    <div class="flex items-center justify-center h-screen">

        <img src="/assets/quests/parchment.png" class="mt-[2em] w-[62em] rotate-90"/>
        <div class="absolute">
            <p class="text-2xl text-black font-bold mb-2">QUETS AVALAIBLE</p>
            <table class="mb-[5em] text-black min-w-full">
                <thead class="font-semibold">
                    <th scope="col" class="px-2 py-2">Name</th>
                    <th scope="col" class="px-2 py-2">Exp</th>
                    <th scope="col" class="px-2 py-2">Description</th>
                    <th scope="col" class="px-2 py-2">Action</th>
                </thead>
                <% @quests.each do |quest| %>
                <tbody class="font-medium border border-[#363062]">
                    <td class="whitespace-nowrap px-2 py-2 w-[10em]"><%= quest.name %></td>
                    <td class="whitespace-nowrap px-2 py-2 w-[10em]"><%= quest.exp %></td>
                    <td class="px-2 py-2 truncate max-w-[28em]"><%= quest.description %></td>
                    <td class="whitespace-nowrap px-2 py-2 w-[10em]">
                        <button>
                            <%= link_to 'Open', quest, class:'p-2 hover:text-[#508D69]' %>
                        </button>
                        <button >
                            <%= button_to 'Delete', quest_path(quest), method: :delete, data: { confirm: 'Are you sure?' }, class: 'p-2 hover:text-[#B31312]', remote: true %>
                        </button>
                    </td>
                </tbody>
                <% end %>   
            </table>
            <div class="flex justify-center mt-2">
                <button class="hover:text-[#CD5C08] text-black p-2 ps-3 pe-3">
                    <%= link_to 'new Quest', new_quest_path %>
                </button>
            </div>
        </div>    
    </div>  
</div>