<div class="overflow-hidden text-white text-center bg-[url('/assets/quests/mountains5.png')] h-screen bg-cover bg-center bg-no-repeat">
    <div class="flex items-center justify-center h-screen">
        <img src="/assets/quests/parchment.png" class="w-[40em]"/>
        <div class="absolute grid grid-rows-1 gap-8 place-content-center text-black">
            <div class="mb-2">
                <p id="questTitle" class="text-2xl text-[#5CD2E6] font-bold"><%= @quest.name %></p>
            </div>
            <div class="mb-2">
                <p class="text-xl text-[#213555] font-bold">Exp: <%= @quest.exp %></p>
            </div>
            <div class="mb-2 w-[20em] max-h-[8em]">
                <p class="text-xl text-[#5C476F] font-bold break-normal"><%= @quest.description %></p>
            </div>
            <div class="mb-2 w-[20em] p-2">
                <p id="questTitle" class="text-xl font-bold">Rewards</p>
                <div class="mt-4 grid grid-cols-1 gap-2">
                    <button class="text-[#7386D5]" id="reward1"><%= @quest.item_1.name %></button>
                    <button class="text-[#7386D5]" id="reward2"><%= @quest.item_2.name %></button>
                    <button class="text-[#7386D5]" id="reward3"><%= @quest.item_3.name %></button>
                </div>
            </div>
            <div class="flex justify-center mt-2">
                <button class="hover:text-[#CD5C08] text-black p-2 ps-3 pe-3">
                    <%= link_to 'Back', quests_path %>
                </button>
            </div>
            <% [@quest.item_1, @quest.item_2, @quest.item_3].each_with_index do |item, index| %>
                <div id="popup-overlay-reward<%= index + 1 %>">
                    <div id="popup<%= index + 1 %>">
                        <div class="grid grid-rows-1 gap-4 text-center">
                        <div class="flex justify-center items-center"> 
                            <img src="/assets/PNG_inventaire/<%= item.path %>.png" alt="item">
                        </div> 
                            <p class="text-[#FFC436]"> <%= item.name %></p>
                            <% case item.categorie %>
                            <% when "weapon" %>
                                <p class="text-[#FF5151]">Attack: <%= item.stats %></p>
                            <% when "knowledge" %>
                                <p class="text-[#FF5151]">Knowledge: <%= item.stats %></p>
                            <% when "currency", "navigationalTool", "artifact", "mysticalTool", "container", "gemstone", "tool", "resource" %>
                                <p class="text-[#FF5151]">Value: <%= item.stats %></p>
                            <% when "potion" %>
                                <p class="text-[#FF5151]">Effect: <%= item.stats %></p>
                            <% else %>
                                <p class="text-[#FF5151]">Stats: <%= item.stats %></p>
                            <% end %>
                            <p class="w-[20em] text-[#EEEDED]"> <%= item.description %> </p>
                        </div>
                        <div class="text-[#C51605]" id="popup-close<%= index + 1 %>">X</div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div>