<div>
    <div>
        <img src="/assets/home/castle_proto_2.png" class="absolute w-full h-full object-cover">
    </div>
    
    <div class="flex flex-col relative justify-center text-center pt-8">
        <h1 class="flex justify-center text-center">
            <img src="/assets/home/logo_proto_3_2.png" class="w-1/4">
        </h1>
    </div>
    <br />

    <%= form_with model: @user, url: registration_path do |form| %>

        <div class="absolute top-4 left-4">
            <%= link_to root_path do %>
                <%= image_tag("/assets/home/close_button.png", class: "w-12") %>
            <% end %>
        </div>

        <div class="flex flex-col text-center">
            <div class="relative flex w-200 justify-center my-2">
                <div class="flex justify-center items-center">
                    <img src="/assets/common/input_1.png" class="w-4/5">
                <%= form.email_field :email, placeholder: "Email", class:"absolute bg-transparent border-none text-decoration-none ps-3 text-md font-medium w-60 placeholder:text-black focus:border-none" %>
                </div>
            </div>

            <div class="relative flex w-200 justify-center my-2">
                <div class="flex justify-center items-center">
                    <img src="/assets/common/input_1.png" class="w-4/5">
                <%= form.password_field :password, placeholder: "Password", class:"absolute bg-transparent border-none text-decoration-none ps-3 rounded-full text-md font-medium w-60 placeholder:text-black focus:border-none" %>
                </div>
            </div>

            <div class="relative flex w-200 justify-center my-2">
                <div class="flex justify-center items-center">
                    <img src="/assets/common/input_1.png" class="w-4/5">
                <%= form.password_field :password_confirmation, placeholder: "Password Confirmation", class:"absolute bg-transparent border-none text-decoration-none ps-3 rounded-full text-md font-medium w-60 placeholder:text-black focus:border-none" %>
                </div>
            </div>

            <% if form.object.errors.any? %>
                <% form.object.errors.full_messages.each do |message| %>
                    <div class="relative pt-2 text-[#BA0B0D]"><%= message %></div>
                    <% end %>
                <% end %>
            <br />

            <div class="relative">
                <div class="flex justify-center">
                    <img src="/assets/home/button_home1.png" class="relative -top-[39px] w-60 custom_link">
                    <%= form.submit "Sign up", class:"absolute top-6 text-[18px] text-white hover:text-[#E92306] custom_link" %>
                </div>
            </div>

        </div> 
    <% end %>
</div>