<%= javascript_include_tag 'characters', :defer=> "defer" %>

<div class="overflow-hidden text-center 
            bg-[url('/assets/characters/castle.png')] 
            h-screen bg-cover bg-center bg-no-repeat"
>
<%= 
    form_with(
        model: @character, 
        local: true, 
        class: "grid grid-cols-2 h-[90%] w-[80%] border ml-auto mr-auto mt-10"
    ) do |form| 
%>
    <div class="border border-emerald-300">


    <%= form.hidden_field :image, id: 'selected-image-path' %>

x
  <div class="grid grid-cols-2 w-[30%] ml-auto mr-auto mb-4 mt-[10%]">
            <div class="text-2xl">
                <%= form.radio_button :gender, 'male', checked: true, class: 'gender-radio-button' %>
                <%= form.label :gender, 'Male', value: 'male', class: 'text-[#e17b4f]' %>
            </div>
            <div class="text-2xl">
                <%= form.radio_button :gender, 'female', class: 'gender-radio-button' %>
                <%= form.label :gender, 'Female', value: 'female', class: 'text-[#e17b4f]' %>
            </div>
        </div>


        <div class="grid grid-cols-3 w-[50%] ml-auto mr-auto text-2xl">
            <% @classes.each do |classe| %>
                <div>
                    <%= 
                        form.radio_button :classe, 
                        classe.category.downcase, 
                        checked: classe.category.downcase == 'warrior', 
                        class: "class-radio-button"
                    %>
                    <%= 
                        form.label :classe, 
                        classe.category.downcase, 
                        value: classe.category.downcase, 
                        class: 'text-[#e17b4f] cursor-pointer' 
                    %>
                </div>
            <% end %>
        </div>


        <div
            id="warrior_male"
            class="grid grid-cols-4 w-[90%] h-[25%] overflow-hidden ml-auto mr-auto"
        >
            <% @warriors_male.each do |warrior_male| %>
                <div 
                    class="image-selector warrior-image <%= warrior_male.gender %>" 
                    data-image-path="/assets/classes/warriors/<%= warrior_male.gender %>/<%= warrior_male.path %>.png"
                >
                    <img 
                        src="/assets/classes/warriors/<%= warrior_male.gender %>/<%= warrior_male.path %>.png" 
                        class="character-image warrior-image ml-auto mr-auto <%= warrior_male.gender %>" 
                        style="<%= 'display: none;' unless warrior_male.gender == 'male' %>"
                    >
                </div>            
            <% end %>
        </div>
        <div
            id="warrior_female"
            style="display: none;"
            class="grid grid-cols-4 w-[90%] h-[25%] overflow-hidden ml-auto mr-auto"
        >
            <% @warriors_female.each do |warrior_female| %>
                <div 
                    class="image-selector warrior-image <%= warrior_female.gender %>" 
                    data-image-path="/assets/classes/warriors/<%= warrior_female.gender %>/<%= warrior_female.path %>.png"
                >
                    <img 
                        src="/assets/classes/warriors/<%= warrior_female.gender %>/<%= warrior_female.path %>.png" 
                        class="character-image warrior-image ml-auto mr-auto <%= warrior_female.gender %>" 
                     
                    >
                </div>            
            <% end %>
        </div>


        <div
            id="mage_male"
            style="display: none"
            class="grid grid-cols-4 w-[90%] h-[25%] overflow-hidden ml-auto mr-auto"
        >
            <% @mages_male.each do |mage_male| %>
                <div 
                    class="image-selector mage-image ml-auto mr-auto <%= mage_male.gender %>" 
                    data-image-path="/assets/classes/mages/<%= mage_male.gender %>/<%= mage_male.path %>.png"
                >
                    <img 
                        src="/assets/classes/mages/<%= mage_male.gender %>/<%= mage_male.path %>.png" 
                        class="character-image mage-image <%= mage_male.gender %>" 
                    >
                </div>          
            <% end %>
        </div>
         <div
            id="mage_female"
            style="display: none"
            class="grid grid-cols-4 w-[90%] h-[25%] overflow-hidden ml-auto mr-auto"
        >
            <% @mages_female.each do |mage_female| %>
                <div 
                    class="image-selector mage-image ml-auto mr-auto <%= mage_female.gender %>" 
                    data-image-path="/assets/classes/mages/<%= mage_female.gender %>/<%= mage_female.path %>.png"
                >
                    <img 
                        src="/assets/classes/mages/<%= mage_female.gender %>/<%= mage_female.path %>.png" 
                        class="character-image mage-image <%= mage_female.gender %>" 
                    >
                </div>          
            <% end %>
        </div>


        <div
            id="archer_male"
            style="display: none"
            class="grid grid-cols-4 w-[90%] h-[25%] overflow-hidden ml-auto mr-auto"
        >
            <% @archers_male.each do |archer_male| %>
                <div 
                    class="image-selector archer-image ml-auto mr-auto <%= archer_male.gender %>" 
                    data-image-path="/assets/classes/archers/<%= archer_male.gender %>/<%= archer_male.path %>.png"
                >
                    <img 
                        src="/assets/classes/archers/<%= archer_male.gender %>/<%= archer_male.path %>.png" 
                        class="character-image archer-image <%= archer_male.gender %>" 
                    >
                </div>          
            <% end %>
        </div>
        <div
            id="archer_female"
            style="display: none"
            class="grid grid-cols-4 w-[90%] h-[25%] overflow-hidden ml-auto mr-auto"
        >
            <% @archers_female.each do |archer_female| %>
                <div 
                    class="image-selector archer-image ml-auto mr-auto <%= archer_female.gender %>" 
                    data-image-path="/assets/classes/archers/<%= archer_female.gender %>/<%= archer_female.path %>.png"
                >
                    <img 
                        src="/assets/classes/archers/<%= archer_female.gender %>/<%= archer_female.path %>.png" 
                        class="character-image archer-image <%= archer_female.gender %>" 
                    >
                </div>          
            <% end %>
        </div>


        <div class="grid grid-rows-1 gap-4 place-content-center">
            <%= form.label :name, class: 'block text-[#e8ca9f] font-medium' %>
            <%= form.text_field :name, class: 'bg-transparent shadow appearance-none border rounded w-[11em] py-2 px-3 text-[#e8ca9f] leading-tight focus:outline-none focus:shadow-outline' %>
        </div>


        <div class="bottom-10 mt-10">
            <%= form.submit "Continue", class: "p-2 px-8 bg-[#db863b] rounded" %>
        </div>


    </div>


    <div class="">
        <img 
            id="selected-character-image" 
            src="/assets/classes/warriors/male/male_warrior3.png" 
            class="w-[45%] ml-auto mr-auto" 
            alt="Selected Character" 
        />    
        <div class="mt-3">
            <% @classes.each do |classe| %>
                <div 
                    id="class-info-<%= classe.category.downcase %>" 
                    class="class-info" 
                    style="display: none"
                >
                    <div class="grid grid-cols-3">
                        <p class="text-[#d83522]">HP: <%= classe.hp %></p>
                        <p class="text-[#7ab4cb]">Attack: <%= classe.attack %></p>
                        <p class="text-[#2d9b78]">Defense: <%= classe.defense %></p>
                    </div>
                    <p class="text-[#e8ca9f]"><%= classe.description %></p>
                </div>
            <% end %>
        </div>
    </div>


<% end %>
</div>

