   <%= link_to items_path do %>
        <i class="fas fa-arrow-left relative left-[5%] top-4 text-[40px] hover:scale-125"></i>
    <% end %>
<div class="flex justify-center">
    <div class="mt-10" >
       <%= form_with model: @item, local: true do |f| %>
       <h1 class="text-2xl text-center mb-4">Item</h1>
            <div class='mb-4 flex flex-col items-center'>
                <%= f.label(:path, class: "")%>
                <%= f.text_field(:path, class: "border") %>
            </div>
             <div class='mb-4 flex flex-col items-center'>
                <%= f.label(:name, class: "") %>
                <%= f.text_field(:name, class: "border") %>
            </div>
            <div class='mb-4 flex flex-col items-center'>
                <%= f.label :categorie %>
                <%= f.select(:categorie, ['none', 'weapon', 'shield', 'armor'], {}, {class: "w-full py-2 text-center border"})%>
            </div>
            <div class='mb-4 flex flex-col items-center'>
                <%= f.label :stats %>
                <%= f.number_field :stats, class: "border text-center w-[50%]", min: 0 %>
            </div>
            <div class='mb-4 flex flex-col items-center'>
                <%= f.label :description %>
                <%= f.text_area :description, class: "border text-center" %>
            </div>
            <div class='mb-4 flex justify-center'>
                <%= f.submit("Create item", class: "bg-green-500 p-2 rounded-[7%] cursor-pointer hover:bg-green-400") %>
            </div>
       <% end %>
    </div>
</div>