<div class="overflow-hidden text-white text-center bg-[url('/assets/quests/interior7.png')] h-screen bg-cover bg-center bg-no-repeat">
    <div class="flex items-center justify-center h-screen p-[13em]">
    <img src="/assets/gameMaster/old-parchment.png" class="mt-[2em]"/>
        <div class="absolute">
            <p class="text-2xl text-black font-bold mb-2">ENIGMAS AVALAIBLE</p>
            <table class="mb-[5em] text-black min-w-full">
                <thead class="font-semibold">
                    <th scope="col" class="px-2 py-2">Question</th>
                    <th scope="col" class="px-2 py-2">Good Answer</th>
                    <th scope="col" class="px-2 py-2">Response1</th>
                    <th scope="col" class="px-2 py-2">Response2</th>
                    <th scope="col" class="px-2 py-2">Response3</th>
                    <th scope="col" class="px-2 py-2">Action</th>

                </thead>
                <% @enigmas.each do |enigma| %>
                <tbody class="font-medium border border-[#363062]">
                    <td class="whitespace-nowrap px-2 py-2 w-[10em]"><%= enigma.question %></td>
                    <td class="whitespace-nowrap px-2 py-2 w-[10em]"><%= enigma.correct_response %></td>
                    <td class="px-2 py-2 truncate max-w-[28em]"><%= enigma.response1 %></td>
                    <td class="px-2 py-2 truncate max-w-[28em]"><%= enigma.response2 %></td>
                    <td class="px-2 py-2 truncate max-w-[28em]"><%= enigma.response3 %></td>
                    <td class="whitespace-nowrap px-2 py-2 w-[10em]">
                        <button>
                            <%= link_to 'Open', enigma, class:'p-2 hover:text-[#508D69]' %>
                        </button>
                        <button >
                            <%= button_to 'Delete', enigma_path(enigma), method: :delete, data: { confirm: 'Are you sure?' }, class: 'p-2 hover:text-[#B31312]', remote: true %>
                        </button>
                    </td>
                </tbody>
                <% end %>   
            </table>
            <div class="flex justify-center mt-2">
                <button class="hover:text-[#CD5C08] text-black p-2 ps-3 pe-3">
                    <%= link_to 'new enigma', new_enigma_path %>
                </button>
            </div>
        </div>    
    </div>   
</div>