<div class="overflow-hidden text-center bg-[url('/assets/quests/mountains6.png')] h-screen bg-cover bg-center bg-no-repeat">

    <div class="absolute top-4 left-4">
        <%= link_to game_master_path do %>
            <%= image_tag("/assets/home/close_button.png", class: "w-12") %>
        <% end %>
    </div>
    
    <div class="flex items-center justify-center h-screen">
        <img src="/assets/gameMaster/old-parchment.png" class="w-[60em] rotate-90"/>
        <p class="absolute top-[30px] mb-4 text-2xl text-black font-bold">New Enigma</p>

        <div class="absolute top-[100px]">
            <%= form_with model: @enigma, url: enigmas_path, method: :post do |form| %>
                <div class="grid grid-rows-1 gap-2 place-content-center">
                    <%= form.label :question, class: 'block text-black font-medium' %>
                    <%= form.text_area :question, class: 'h-[5em] mb-4 bg-transparent shadow appearance-none border rounded w-[20em] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>

                    <%= form.label :exp, class: 'block text-black font-medium' %>
                    <%= form.number_field :exp, class: 'mb-4 bg-transparent shadow appearance-none border rounded w-[20em] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>

                    <%= form.label :response1, class: 'block text-black font-medium' %>
                    <%= form.text_field :response1, class: 'mb-4 bg-transparent shadow appearance-none border rounded w-[20em] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
                
                    <%= form.label :response2, class: 'block text-black font-medium' %>
                    <%= form.text_field :response2, class: 'mb-4 bg-transparent shadow appearance-none border rounded w-[20em] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
                
                    <%= form.label :response3, class: 'block text-black font-medium' %>
                    <%= form.text_field :response3, class: 'mb-4 bg-transparent shadow appearance-none border rounded w-[20em] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
                
                    <%= form.label :correct_response, class: 'block text-black font-medium mt-4' %>
                    <%= form.text_field :correct_response, class: 'mb-4 bg-transparent shadow appearance-none border rounded w-[20em] py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' %>
                </div>
                
                <div class="relative flex justify-center items-center">
                    <img src="/assets/home/button_home3.png" class="w-[200px] custom_link">
                        <button class="absolute text-white hover:text-[#E92306]">
                            <%= form.submit 'Create Enigma', class: "custom_link" %>
                        </button>
                </div>
            <% end %>
        </div>
    </div>
</div>
