<h1><%= @enigma.question %></h1>

<h2>Responses:</h2>
<ul>
  <li><%= @enigma.response1 %></li>
  <li><%= @enigma.response2 %></li>
  <li><%= @enigma.response3 %></li>
</ul>

<p>Correct Response: <%= @enigma.correct_response %></p>