<!DOCTYPE html>
<html>
  <head>
    <title>Rpg</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'popup', media: 'all' %>

    <script src="https://cdn.tailwindcss.com"></script>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'popup', :defer=> "defer" %>

  </head>

  <body class="">
    <div><%= notice %></div>
    <div><%= alert %></div>


    <main>
      <%= yield %>
    </main>
  </body>
</html>