<!DOCTYPE html>
<html>
  <head>
    <title>Rpg</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'popup', media: 'all' %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" %>

    <%= javascript_include_tag "https://cdn.tailwindcss.com" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'popup', :defer=> "defer" %>

  </head>

  <body id="body">
    <main class="w-full h-screen overflow-auto">
      <%= yield %>
    </main>
  </body>
</html>