<!DOCTYPE html>
<html>
  <head>
    <title>Rpg</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'popup', media: 'all' %>
    <%= stylesheet_link_tag 'characters', media: 'all' %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" %>

    <%= javascript_include_tag "https://cdn.tailwindcss.com" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag 'popup', :defer=> "defer" %>
  </head>

  <body class="body">
    <div class="bg-black text-red-700"><%= notice %></div>
    <div class="bg-black text-red-700"><%= alert %></div>
    <main class="w-full h-screen overflow-hidden">
      <%= yield %>
      <audio id="audio_player" style="display: none;" controls>
        <source src="/assets/girei.mp3" type="audio/mpeg">
      </audio>

      <div class="absolute top-[13px] right-4">
          <img src="/assets/home/play_button.png" id="play_button" class="w-14 custom_link" onclick="toggle_play_pause()">
          <img src="/assets/home/pause_button.png" id="pause_button" style="display: none;" class="w-14 custom_link" onclick="toggle_play_pause()">
      </div>
    </main>
  </body>
</html>